.container {
    padding: 20px;
}

#postTextArea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 3px #0099cc;
    resize: none;
    width: 45%;
}

.editedPostTextArea{
    resize: none;
    
}

.postBtn {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0099cc;
    color: #0099cc;
    background: none;
    border-radius: 38px;
}

.postBtn:hover {
    border: 2px solid #0099cc;
    color: antiquewhite;
    background: #0099cc;
}

.textAreaAndButton {
    margin-bottom: 20px;
}

.post {
    width: 70%;
    border: 0.5px solid rgba(148, 145, 145, 0.28);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
        background-color: rgba(255, 255, 240, 0.52);
    border-radius: 18px;
    word-wrap: break-word;
    padding: 5px;
}

.post:hover {
    border: solid 1px #0099cc;
}

.post p {
    font-size: 20px;
    font-family: sans-serif;
    color: #7b7b7b;
}

.postIcons {
    font-size: 130%;
    margin-right:2%;
    color: #7b7b7b;
}

#like:hover {
    color: royalblue;
    cursor: pointer;
}

#dislike:hover {
    color: red;
    cursor: pointer;
}

#edit:hover {
    color: green;
    cursor: pointer;
    
}

#applyEdits:hover {
    color: green;
    cursor: pointer;
    
}




#remove {
    float: right;
    color: #cecece;
}

#remove:hover {
    cursor: pointer;
    color: red;
}
